@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

html {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", "Segoe UI", "Roboto", sans-serif;
}

.navbar-brand {
  font-weight: 700;
}

.name:nth-of-type(2) {
  position: sticky;
  left: 0;
}

label {
  display: block;
  font-weight: 600;
}

label.gw {
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
}

@supports (animation-timeline: scroll()) {
  .header {
    animation: scroll-shadow linear both;
    animation-timeline: scroll();
    animation-range: 0 5rem;
  }

  @keyframes scroll-shadow {
    from {
      box-shadow: none;
    }

    to {
      box-shadow: rgba(0, 0, 0, 0.116) 0 0 0 5px;
    }
  }
}

.name {
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0.2rem;
  text-overflow: ellipsis;
  max-width: 100px;
  box-shadow: rgba(0, 0, 0, 0.116) 0 0 0 5px;
}

.name a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.th-w {
  width: 50px;
}


footer {
  background: #f8f9fa;
}

#root {
  /*max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;*/
  font-family: "Manrope", "Segoe UI", "Roboto", sans-serif;
  text-align: center;
}

.sortWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.sortBy {
  display: flex;
  flex-direction: column;
}

.button-controls {
  display: flex;
  padding: 8px 0;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
}

.btn-controls {
  outline: none;
  border: 1px solid black;
  background: rgba(255, 255, 255, 1);
  /*padding: 1rem 1rem;*/
  width: auto;
  margin: 0 0.2rem;
  border-radius: 50%;
  font-size: 0.7rem;
  cursor: pointer;
  padding: 8px 10px;
}

.btn-controls:disabled {
  opacity: 0.2;
}

.current {
  margin-right: 0.2rem;
}

.total_pages {
  margin-left: 0.2rem;
}

.pages {
  padding: 1rem;
  color: rgba(22, 22, 68, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages .current {
  font-weight: 700;
}

/* Player Data */
.player-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: #db1414;
  color: white;
}

.player-header>h3 {
  font-weight: 700;
}

.player-header>h5 {
  font-weight: 500;
}

.player-header>h6 {
  font-weight: 300;
}

.chart {
  padding: 10px 0;
  margin: 25px 0;
}

.chart-heading {
  padding: 10px;
  font-weight: 600;
}

.chart-container {
  overflow: auto;
  padding: 1rem 0;
}

.custom-tooltip {
  background: white;
  padding: 1rem;
}

/* graph */
.graph {
  display: flex;
  width: 1800px;
}

.graph-label {
  font-size: 0.8rem;
  font-weight: 700;
  width: 50px;
  line-height: 1;
  text-align: center;
}

.graph-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid;
  margin-bottom: 0.5rem;
}

.graph-bar {
  border: 1px solid gray;
  width: 80%;
  border-bottom: 0;
  background: #20ce94;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.dnp {
  cursor: pointer;
  padding: 1rem 0;
}

.stat-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0;
}

.stat-head {
  font-weight: 700;
}


.returns {
  color: white;
}

/* Comparison Tool */
.playerison {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background: aquamarine;
  border-radius: 1rem;
}

.custom-select {
  padding: .6rem 1.4rem .5rem .8rem;
  margin: 0.5rem 0;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-weight: 700;
}

.custom-select-2 {
  padding: .25rem .4rem;
  margin: 0.5rem 0;
  border: 1px solid #aaa;
  font-size: 0.8rem;
  font-weight: 700;
}

.form-group label {
  font-size: 1rem;
  font-weight: 700;
}

.range-wrapper {
  display: grid;
  padding: 0.5rem;
  grid-template-columns: 1fr 1fr;
  background: aquamarine;
  border-radius: 1rem;
}

.range-contents {
  padding: 0 0.5rem;
}

.range-contents .form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: baseline;
  padding: 0 0.5rem;
}

.form-group label {
  padding-right: 0.2rem;
}

.compare-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 1rem;
}

.compare-tabs div {
  cursor: pointer;
}

.select-active {
  box-shadow: black 0 0 2px;
  border-radius: 0.5rem;
}

.graph-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 250px;
  margin-top: 1rem;
}

.comparison {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  font-size: 1rem;
}

.compare-stat-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 0.4rem;
  border: 1px solid gray;
  border-radius: 0.4rem;
}

.compare-stat-wrap>div.player-one {
  justify-self: end;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.compare-stat-wrap>div.player-two {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.player-stats {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  font-size: 12px;
  font-weight: 700;
}

.player-wrapper {
  padding: 0.5rem;
  width: 40vw;
}

.player-details {
  padding: 0.3rem;
}

.details {
  display: grid;
  padding: 0.2rem;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.details div:first-child {
  font-weight: 700;
  justify-self: baseline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: left;

}

.details div:last-child {
  justify-self: right;
  font-weight: 700;
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: left;
}

/* Achievements */
.achievements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

summary {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #93a8bd;
  box-shadow: #93a8bd 0 0 2px;;
  text-align: left;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.2rem;
}

summary::marker {
  content: none;
}

summary::after {
  content: '';
  width: 18px;
  height: 18px;
  background: url('./assets/chevron-down.svg') no-repeat;
  background-size: cover;
  transition: 0.2s;
}

details[open]>summary::after {
  transform: rotate(180deg);
}

details[open]>summary {
  
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

details p.first {
  background: aquamarine;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: aquamarine 0 0 2px;
  border: 1px solid aquamarine;
  padding: 0 0.5rem;
}

.achieve-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.achieve-details {
  text-align: left;
}

.achieve-header {
  font-size: 1.2rem;
  font-weight: 700;
}

.achieve-wrapper svg {
  height: 1.5rem;
  width: 1.5rem;
}

.achieve-note

footer {
  font-size: 0.8rem;
  font-weight: 700;
}

@media (max-width: 576px) {
  html {
    font-size: 12px;
  }

  .custom-select {
    padding: .3rem 0.7rem .25rem .4rem;
    margin: 0.25rem 0;
    width: 100px;
  }
}

@media (min-width: 300px) {
  .col-xs-1 {
    flex: 0 0 auto;
    width: 8.333333%;
  }
}