@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: 'Manrope', 'Segoe UI', 'Roboto', sans-serif;
}
.navbar-brand {
    font-weight: 600;
}

.name:nth-of-type(2) {
    position: sticky;
    left: 0;
}

label {
    display: block;
    font-weight: 600;
}

label.gw {
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

footer {
    background: #f8f9fa;
}
#root {
    /*max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;*/
    font-family: 'Manrope', 'Segoe UI', 'Roboto', sans-serif;
    text-align: center;
  }
  
  